 /*---------------------------------- Start with basic resets ----------------------------------*/
 @import "compass/reset";
 @import "compass/utilities/lists/horizontal-list";


 /*---------------------------------- Mixins ----------------------------------*/
@mixin horizontal-list-container 
{
  @include reset-box-model;
  @include clearfix; 
}

@mixin horizontal-list-item($padding: 12px, $direction: left) {
  @include no-bullet;
  white-space: nowrap;
  @include float($direction);
  @if $padding {
    padding: {
      left: $padding;
      right: $padding; 
  	  top: 20px;
  	  bottom: 20px;};
    &:first-child, &.first {
      padding-#{$direction}: 0; }
    &:last-child {
      padding-#{opposite-position($direction)}: 0; }
    &.last {
      padding-#{opposite-position($direction)}: 0; } } }

  @mixin nav-seperator
  {
    border-right: 1px solid black;
  }

/*---------------------------------- Variables ----------------------------------*/

/* Positioning */
$right: right;

/* Weight */
$bold: bold;

/* Color */
$black: black;
$tan: #f5f3c3;
$tan-title-bg: #e6e3ae;
$tan-title-extenstion-bg: #eeebbe;

/*---------------------------------- Structure ----------------------------------*/

body
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}
.container
{

}


/*---------------------------------- Navigation (Home) ----------------------------------*/

nav

{
	font-size: 18px;
	margin-top: 10px;

  ul
  {
    @include horizontal-list-container
  }

  li
  {
    @include horizontal-list-item; 

    &.active
    {
      font-weight: $bold;
    }

    &.home-nav, &.work-nav
    {
      @include nav-seperator
    }

  }

  a 
  {
    color: $black;
  }

}


/*---------------------------------- Navigation (Work) ----------------------------------*/

.small-logo
{
  font-size: 35px; margin-top: 20px;
 
}


/*---------------------------------- Home ----------------------------------*/

.charnetta-name-home
{
  font-size: 50px;
  margin-top: 200px;
}

.info-home
{ 
  height: 200px; padding-top: 20px;
  margin: 70px 0 0 0;
  background: $tan;

  h2
  {
     margin: 0; height: 20px;
     background: $tan-title-bg;  
     padding:  5px 0 5px 20px;  
  }

  span
  {
    background: $tan-title-extenstion-bg;
    margin: 0; height: 30px;
    padding-right: 0px;
  }

  p
  {
    margin: 10px 0 0 20px;
  }

}


/*---------------------------------- Home ----------------------------------*/

.header 
{
  height: 100px; border-bottom: 1px solid $black;
}